# install using - pip install -r requirements.txt

# pandas dataframes
pandas

# graph library
dash

# for api calls
requests

# crypto exchange api
#ccxt

flask-socketio

# websockets
websocket-client

# json reading/writing
simplejson

# env file reader
python-dotenv

# API documentation generator
sphinx

# flask
flask
gevent-websocket

# binance connector
python-binance

matplotlib