# install using - pip install -r requirements.txt

# pandas dataframes
pandas

# for api calls
requests

flask-socketio

# websockets
websocket-client

# json reading/writing
simplejson

# API documentation generator
sphinx

# flask
flask
gevent-websocket

# charts
lightweight-charts

# database example
psycopg2

# backtesting library
backtesting

# machine learning library
scikit-learn